{% extends 'myauth/base.html' %}

{% block title %}
    Редактирование профиля пользователя {{ user.username }}
{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myauth/profile_edit.css' %}">
{% endblock %}

{% block main %}
    <h1>
        Редактирование профиля пользователя {{ user.username }}
    </h1>
    <div class="edit-profile-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save-button">Сохранить</button>
        </form>
    </div>
    <p><a href="{% url 'myauth:profile' user.id %}" class="back-link">Назад</a></p>
{% endblock %}